body {
  font-family: Inter;
  background-color: #FCFDFE;
  font-weight: 300;
  margin: 0;
  overflow-x: hidden;
}

nav {
  width: 100%;
  background-color: white;
  padding: .25em;
  top: 0px;
  position: fixed;
  box-shadow: 2px 2px 5px #aaaaaa;
  z-index: 100;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 0;
}

nav ul li {
  list-style: none;
  font-size: larger;
}

.navitem {
  text-align: center;
  padding: 3px 25px;
  float: right;

}

.nav-name {
  float: left;
  padding: 5px;
  width: 65%;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.pic-intro {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
}

img {
  width: 100%;
  height: auto;
}

#top-bar {
  margin: 0 0;
}

.intro {
  margin-left: 5%;
  margin-top: 5%;
}

.pic-intro figure {
  width: 30%;
  margin-left: 7%;
}

.about-facts {
  margin-right: 5%;
}


.about-facts #li-1::marker {
  content: "🎓   ";
}

.about-facts #li-2::marker {
  content: "☁️   ";
}

.about-facts #li-3::marker {
  content: "✈️   ";
}

.about-facts li {
  padding: 5px;
  color: gray;
  line-height: 1.75;
}

.about-facts li:hover {
  color: black;
}

#section-2 {
  background-color: #5B5B5B;
  margin: 5% 5%;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.browser {
  background-color: #E2E2E2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tabs {
  background-color: #E2E2E2;
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.curr-tab {
  background-color: white;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  padding-bottom: 2em;
}

.other-tab {
  background-color: #E2E2E2;
  width: 150px;
}

#plus {
  margin-left: 0.25em;
  margin-top: 5px;
  width: 20px;
  height: 20px;
}

#divider {
  margin-top: 5px;
}

.tab {
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 15px;
  border: none;
}

.other-tab:hover {
  background-color: #EDEDED;
  height: 60px;
  border-radius: 10px;
  padding-bottom: 2em;
}

.window {
  background-color: white;
  width: 100%;
  height: 120%;
  display: flex;
  overflow: scroll;
}

.work-window {
  display: flex;
  width: 100%;
}

.educ-window {
  width: 100%;
}

#timeline {
  margin-left: 5%;
  height: 500px;
}

.work-title-div {
  width: 21%;
}


.work-title-main {
  font-size: 18px;
}

.work-title-subheading {
  font-size: 15px;
}

.work-descr-div {
  width: 60%;
}

.tags {
  margin-left: 2%;
}

.tag {
  border: solid;
  background-color: #D3DBDE;
  border-color: #D3DBDE;
  margin: 0 0.25em;
  padding: 0.25em 0.5em;
  border-radius: 15px;
}


.education {
  width: 45%;
  padding: 2%;
  margin-right: 5%;
  color: lightgray;
  border: solid;
  border-color: white;
}

.education:hover {
  color: white;
}

h2 {
  margin-top: 0;
}

.work {
  margin-left: 2%;
  color: lightgray;
  margin-top: 1px;
}

.workitem:hover {
  color: white;
}

.educ-header {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}

.educ-header h3 {
  margin-bottom: 0;
}

#cornell {
  width: 120px;
  height: auto;
  margin-top: 0.5em;
}

.educ-divider {
  height: 10px;
  width: 100%;
  background-color: #BC3941;
}

.educ-activities {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.educ-univ ul {
  margin-top: 0.5em;
  padding-left: 0;
}

.educ-univ ul li {
  list-style: none;
}

.educ-coursework {
  width: 57%;
}

.educ-coursework h3 {
  margin-left: 30px;
  margin-bottom: 1em;
}

.educ-courses {
  background-color: lightgray;
  padding-right: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1.5em;
  margin-right: 2em;
}

.educ-ec {
  margin-left: 5px;
  width: 100%;
}

.ec-photo {
  margin: 0;
  margin-right: 1em;
}

.ec-photo img {
  width: 275px;
  height: auto;
}

.ec-section {
  display: flex;
  flex-direction: row;
}

.ec-sidebar {
  margin-top: 0;
  background-color: lightgray;
}

.ec-section button {
  display: block;
  width: 100px;
  text-align: left;
  padding: 0.75em 0;
  padding-left: 1em;
  padding-right: 0.5em;
  border: none;
  font-family: Inter;
}

.ec-unclicked {
  background-color: lightgray;
}

.ec-clicked {
  background-color: #F3F3F3;
}

.ec-section button:hover {
  background-color: #F3F3F3;
}

#wicc {
  padding-top: 1.25em;
}



.ec-main {
  width: 100%;
  font-size: 14px;
  background-color: #F3F3F3;
  padding: 1em;
  margin-right: 2em;
  padding-left: 1.5em;
}

.ec-main p {
  margin-top: 0.5em;
}

.ec-main h3 {
  margin-top: 0;
}

.ec-content {
  display: flex;
  flex-direction: row;
}

.ec-content p {
  margin-top: 0;
}


nav .navitem a:hover {
  text-decoration: underline;
}

#section-3 h1,
#section-3b h1 {
  text-align: center;
}

.grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 50px;
  padding-left: 0;
  margin: 50px 125px;
}

.grid li {
  list-style: none;
  width: 350px;
  height: 300px;
  margin: auto;
  background-color: #9DAEB5;
  border-radius: 20px;
}

.grid .gall {
  list-style: none;
  width: 350px;
  height: 350px;
  margin: auto;
  background-color: white;
}

.project {
  position: relative;
  margin-top: 5%;
  padding-top: 8%;
  color: white;
}

.description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F8F8F8;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .4s, visibility .4s;
}

.project:hover .description {
  visibility: visible;
  opacity: 0.9;
}

.p-description {
  transition: .5s;
  color: #575757;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.description p:hover {
  opacity: 1;
}

.project-icon {
  width: 200px;
  height: 200px;
  margin: auto;
}

.contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 7% 9%;
}

.contact li {
  padding: 0 4%;
  width: 10%;
  list-style: none;
}

#mtn {
  max-width: 100%;
  height: auto;
}

.navitem a::after {
  display: block;
  content: '';
  border-bottom: solid 3px #d3cbf5;
  transform: scaleX(0);
  transition: 350ms ease-in-out;
  transform-origin: 0% 50%;
}

.hidden {
  visibility: hidden;
}

.remove {
  display: none;
}

#mtn {
  width: 100%;
  height: auto;
}

html,
body {
  overflow-x: hidden;
}