body {
  font-family: Inter;
  background-color: #FCFDFE;
  font-weight: 300;
  margin: 0;
  overflow-x: hidden;
}

nav {
  background-color: white;
  padding: .25em;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  position: fixed;
  box-shadow: 2px 2px 5px #aaaaaa;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 0;
}

nav ul li {
  list-style: none;
  font-size: larger;
}

.navitem {
  text-align: center;
  padding: 3px 25px;
  float: right;

}

.nav-name {
  float: left;
  padding: 5px;
  width: 60%;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.pic-intro {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
}

img {
  width: 100%;
  height: auto;
}

#top-bar {
  margin: 0 0;
}

.intro {
  margin-left: 5%;
  margin-top: 5%;
}

.pic-intro figure {
  width: 30%;
  margin-left: 7%;
}

.about-facts li::marker {
  content: "> ";
}

.about-facts li {
  padding: 5px;
  color: gray;
}

.about-facts li:hover {
  color: black;
}

#section-2 {
  background-color: #5B5B5B;
  margin: 5% 5%;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.browser {
  background-color: #E2E2E2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tabs {
  background-color: #E2E2E2;
  width: 100%;
  height: 6%;
  display: flex;
  flex-direction: row;
}

.curr-tab {
  background-color: white;
  width: 15%;
  height: 150%;
  border: solid;
  border-radius: 10px;
  border-color: white;
}

.curr-tab p {
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.window {
  background-color: white;
  width: 100%;
  height: 120%;
  display: flex;
  padding: 1% 0;
  overflow: scroll;
}

#timeline {
  margin-left: 5%;
}

.work-title-div {
  width: 21%;
}


.work-title-main {
  font-size: 21px;
}

.work-title-subheading {
  font-size: 17px;
}

.work-descr-div {
  width: 60%;
}

.tags {
  margin-left: 2%;
}

.tag {
  border: solid;
  background-color: #D3DBDE;
  border-color: #D3DBDE;
  margin: 0 0.25em;
  padding: 0.25em 0.5em;
  border-radius: 15px;
}


.education {
  width: 45%;
  padding: 2%;
  margin-right: 5%;
  color: lightgray;
  border: solid;
  border-color: white;
}

.education:hover {
  color: white;
}

h2 {
  margin-top: 0;
}

.work {
  margin-left: 2%;
  color: lightgray;
  margin-top: 1px;
}

.workitem:hover {
  color: white;
}

nav .navitem a:hover {
  text-decoration: underline;
}

#section-3 h1,
#section-3b h1 {
  text-align: center;
}

.grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 50px;
  padding-left: 0;
  margin: 50px 125px;
}

.grid li {
  list-style: none;
  width: 350px;
  height: 300px;
  margin: auto;
  background-color: #9DAEB5;
}

.grid .gall {
  list-style: none;
  width: 350px;
  height: 350px;
  margin: auto;
  background-color: white;
}

.project {
  position: relative;
  margin-top: 5%;
  padding-top: 8%;
  color: white;
}

.description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F8F8F8;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .4s, visibility .4s;
}

.project:hover .description {
  visibility: visible;
  opacity: 0.9;
}

.p-description {
  transition: .5s;
  color: #575757;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.description p:hover {
  opacity: 1;
}

.project-icon {
  width: 200px;
  height: 200px;
  margin: auto;
}

.contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 7% 9%;
}

.contact li {
  padding: 0 4%;
  width: 10%;
  list-style: none;
}

#mtn {
  max-width: 100%;
  height: auto;
}

.navitem a::after {
  display: block;
  content: '';
  border-bottom: solid 3px #d3cbf5;
  transform: scaleX(0);
  transition: 350ms ease-in-out;
  transform-origin: 0% 50%;
}