body {
  font-family: Inter;
  background-color: #FCFDFE;
  font-weight: 300;
  margin: 0;
}

nav {
  background-color: white;
  padding: 1%;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;

}

nav ul li {
  list-style: none;
  font-size: larger;
}

.navitem {
  width: 10%;
  text-align: center;
  float: right;
}

.nav-name {
  float: left;
  width: 60%;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.pic-intro {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
}

#portrait img {
  width: 100%;
  height: auto;
  animation: ease-in;
}

.intro {
  margin-left: 5%;
  margin-top: 5%;
}

.pic-intro figure {
  width: 30%;
  margin-left: 7%;
}

.about-facts li::marker {
  content: "> ";
}

.about-facts li {
  padding: 5px;
  color: gray;
}

.about-facts li:hover {
  color: black;
}

#section-2 {
  background-color: #5B5B5B;
  /* #9DAEB5; */
  /* #1A1F23;*/
  padding: 4%;
  display: flex;
  flex-direction: row;
}

.education {
  width: 45%;
  padding: 2%;
  margin-right: 5%;
  color: lightgray;
  border: solid;
  border-color: white;
}

.education:hover {
  color: white;
}

h2 {
  margin-top: 0;
}

.work {
  margin-left: 2%;
  color: lightgray;
  margin-top: 1px;
}

.workitem:hover {
  color: white;
}

nav .navitem a:hover {
  text-decoration: underline;
}

#section-3 h1 {
  text-align: center;
  padding: 1%;
}

.row {
  margin: 0% 9%;
  display: flex;
  flex-direction: row;
}

.row figure {
  width: 30%;
}

.contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 7% 9%;
}

.contact li {
  width: 20%;
  list-style: none;
}

#mtn {
  max-width: 100%;
  height: auto;
}

.navitem a::after {
  display: block;
  content: '';
  border-bottom: solid 3px #d3cbf5;
  transform: scaleX(0);
  transition: 350ms ease-in-out;
  transform-origin: 0% 50%;
}